header {
    text-align: center;
    background: url("../images/pyc_bg.jpg");
    background-size: cover;
  }
  img {
    width: 70px;
    margin-top: 5px;
    margin-right: 15px;
    vertical-align: -25%;
  }